#### 1) Finding the percentage

In [10]:
n=int(input('number of students : '))
details={}
for i in range(n):
    name=input('enter name : ').lower()
    print('enter marks : ')
    marks=list(map(int,input().split()))
    details[name]=marks
    
query=input('enter the name to calculate : ').lower()

for j in details:
    if j==query:
        avg=sum(details[query])/len(details[query])
    else:
        pass
print('avg is : ',format(avg,'.2f'))

number of students : 1
enter name : athish
enter marks :
98 87 65
enter the name to calculate : athish
avg is :  83.33

#### 2) String Split and Join

In [12]:
def split_and_join(str1):
    str2=str1.split()
    str3='-'.join(str2)
    print(str3)
    



str1=input('enter a string : ')
split_and_join(str1)

enter a string : athish gowda k
athish-gowda-k

#### 3) Set .intersection() Operation

In [23]:
n=int(input('the number of students who have subscribed to the English newspaper : '))
a=set(map(int,input('Roll numbers : ').split()))
n1=int(input('the number of students who have subscribed to the French newspaper : '))
b=set(map(int,input('Roll numbers : ').split()))

print(len(a.intersection(b)))

the number of students who have subscribed to the English newspaper : 9
Roll numbers : 1 2 3 4 5 6 7 8 9
the number of students who have subscribed to the French newspaper : 9
Roll numbers : 10 1 2 3 11 21 55 6 8
5

#### 4) Find the Runner-Up Score!

In [25]:
scores=list(map(int,input('Enter the scores : ').split()))

scores1=sorted(list(set(scores)))

print(scores1[-2])

Enter the scores : 2 3 6 6 5
5

#### 5) sWAP cASE

In [3]:
def swapcase(str2):
    str3=''
    for i in str2:
        if i==i.lower():
            str3+=i.upper()
        elif i==i.upper():
            str3+=i.lower()
        else:
            str3+=i
    print(str3)




str2=input('enter a string : ')
swapcase(str2)

enter a string : Www.HackerRank.com
wWW.hACKERrANK.COM

#### 6) Arithmetic Operators

In [4]:
def arithmetic(a,b):
    print(a+b)
    print(a-b)
    print(a*b)

a=int(input())
b=int(input())
arithmetic(a,b)

3
2
5
1
6

#### 7) Python: Division

In [ ]:
a=int(input())
b=int(input())

print(a//b)
print(a/b)

#### 8) Python If-Else

In [7]:
n=int(input('enter a number : '))

if n%2!=0:
    print('Weird')
elif n%2==0 and 5>=n>=2:
    print('Not Weird')
elif n%2==0 and 20>=n>=6:
    print('Weird')
else:
    if n%2==0 and n>20:
        print('Not Weird')

enter a number : 22
Not Weird

#### 9) Nested Lists

In [10]:
python_students=[]

for i in range(int(input('enter the number of students : '))):
    name=input('enter the name : ')
    score=float(input('enter the score : '))
    python_students.append([name,score])


details=dict()
marks=[]
for i in python_students:
    details[i[0]]=i[1]
    marks.append(i[1])

marks1=sorted(list(set(marks)))[1]

final_list=[]
for j in details:
    if details[j]==marks1:
        final_list.append(j)
final_list=sorted(final_list)

for k in final_list:
    print(k)

enter the number of students : 3
enter the name : athish
enter the score : 34.56
enter the name : akshay
enter the score : 34.56
enter the name : sheela
enter the score : 12
akshay
athish

#### 10) Loops

In [12]:
def square(list1):
    for i in list1:
        print(i**2)
        
list1=list(range(int(input('Enter the number upto you need square : '))))
square(list1)

Enter the number upto you need square : 5
0
1
4
9
16

#### 11) Write a function

In [17]:
def leap_year(year):
    if year%4==0:
        if year%100==0:
            if year%400==0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False


year=int(input())
leap_year(year)

1992

True

#### 12) Find a string

In [29]:
def count_substring(string,sub_string):
    count=0
    for i in range(len(string)):
        if string[i:i+len(sub_string)]==sub_string:
            count+=1        
    return count

string = input().strip()
sub_string = input().strip()
count=count_substring(string, sub_string)
print(count)

ABCDCDC
CDC
2

#### 13) Lists

In [34]:
number=int(input('Enter the number of operations : '))
list1=[]
for i in range(number):
    op=input('Enter the operation you want to perform : ').lower().split()
    if op[0]=='insert':
        list1.insert(int(op[1]),int(op[2]))
    elif op[0]=='print':
        print(list1)
    elif op[0]=='remove':
        list1.remove(int(op[1]))
    elif op[0]=='append':
        list1.append(int(op[1]))
    elif op[0]=='sort':
        list1.sort()
    elif op[0]=='pop':
        list1.pop()
    else:
        list1.reverse()

Enter the number of operations : 5
Enter the operation you want to perform : append 4
Enter the operation you want to perform : append 8
Enter the operation you want to perform : insert 9 1
Enter the operation you want to perform : remove 8
Enter the operation you want to perform : print
[4, 9]